# Pandas Assignments Notebook
Python foundamental projects translated into use-cases using **C.E.L.L. method**. Pandas assignments designed to build foundational skills in data manipulation, analysis, and cleaning using Pythonâ€™s Pandas library.

Each assignment focuses on key concepts with practical use cases.

---

##Overview of Assignments and Use Cases

##Assignment 1: DataFrame Creation and Indexing
Use Case: Creating tables with data and setting meaningful row labels (indexes) to quickly access data by keys.

##Assignment 2: DataFrame Operations
Use Case: Performing calculations on data columns and summarizing data by rows or columns for insights.

##Assignment 3: Data Cleaning
Use Case: Handling missing data by filling in gaps or removing incomplete records to prepare clean datasets.

##Assignment 4: Data Aggregation
Use Case: Grouping data by categories (e.g., sales regions or product types) and computing summaries like totals and averages.

##Assignment 5: Merging DataFrames
Use Case: Combining multiple datasets based on common keys or stacking data vertically/horizontally for comprehensive analysis.

##Assignment 6: Time Series Analysis
Use Case: Working with date/time indexed data to analyze trends over time using resampling and rolling averages.

##Assignment 7: MultiIndex DataFrame
Use Case: Managing hierarchical data with multiple levels of indexing to perform advanced grouping and slicing.

##Assignment 8: Pivot Tables
Use Case: Summarizing data across multiple dimensions, similar to Excel pivot tables, for quick, flexible reports.

##Assignment 9: Applying Functions
Use Case: Transforming data by applying custom or built-in functions to modify or create new data columns.

##Assignment 10: Working with Text Data
Use Case: Cleaning and extracting useful information from text columns for tasks like data standardization or feature engineering.

---

###Assignment 1: DataFrame Creation and Indexing
Concept:
- DataFrames are 2D labeled data structures like tables with rows and columns.
- You can create DataFrames with data and specify indexes (row labels).
- **Indexing lets you label** rows by a specific column for easier data access.

Lifecycle (Use cases):
- Creating DataFrames from raw data
- Setting a meaningful index to uniquely identify rows (e.g., IDs)
- Enables fast lookups and data alignment

In [2]:
import pandas as pd
import numpy as np

# Create DataFrame with 4 columns (A-D), 6 rows with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set index to first column 'A'
df.set_index('A', inplace=True)
print("\nDataFrame with 'A' as index:")
print(df)

Original DataFrame:
    A   B   C   D
0  38  16  75  61
1  81  78  47  69
2  56  97  91  13
3  42  21  34  32
4  95  26  47  12
5  70  63   3  27

DataFrame with 'A' as index:
     B   C   D
A
38  16  75  61
81  78  47  69
56  97  91  13
42  21  34  32
95  26  47  12
70  63   3  27

##Assignment 1.2: Accessing Data via Labels
 Use `.at[]` to get a specific value by row and column labels.

In [26]:
# Create DataFrame with specific columns and row indexes
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("\nElement at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  82  72  21
Y  68  75  40
Z  34  84  70

Element at row 'Y' and column 'B': 75

###Assignment 2: DataFrame Operations
Concept:
- You can do **arithmetic on DataFrames** and create new columns from operations on existing ones.
- Row-wise and column-wise aggregation is common (sum, mean, etc.).

**Example 2.1**: Adding Product Column.

**Example 2.2:** Row-wise & Column-wise Sum

Use Cases:
- Summarize data by rows or columns
- Create **new features/columns** based on calculations

In [5]:
# Example 2.1: Adding Product Column
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add new column 'D' = product of columns A and B
df['D'] = df['A'] * df['B']
print("\nDataFrame with new column D (A*B):")
print(df)

Original DataFrame:
    A   B   C
0  72  92  91
1  42  89  29
2  52  84  71
3  15  82  28
4  48  22  86

DataFrame with new column D (A*B):
    A   B   C     D
0  72  92  91  6624
1  42  89  29  3738
2  52  84  71  4368
3  15  82  28  1230
4  48  22  86  1056

In [6]:
#Example 2.2: Row-wise & Column-wise Sum
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

row_sum = df.sum(axis=1)  # sum across columns for each row
col_sum = df.sum(axis=0)  # sum across rows for each column

print("\nRow-wise sum:")
print(row_sum)

print("\nColumn-wise sum:")
print(col_sum)

Original DataFrame:
    A   B   C
0  70  67  98
1   8  95  19
2  55  84   2
3  28  73  25

Row-wise sum:
0    235
1    122
2    141
3    126
dtype: int64

Column-wise sum:
A    161
B    319
C    144
dtype: int64

###Assignment 3: Data Cleaning
Concept:
- Data often contains missing values (NaNs).
- We can fill missing values or drop rows with missing data.

**Example 3.1:** Filling NaNs with Column Means

**Example 3.2:** Dropping Rows with NaNs

**Use Cases:**
- Prepare datasets for machine learning or analysis
- Handle incomplete data

In [7]:
#Example 3.1: Filling NaNs with Column Means
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaNs:")
print(df)

df.fillna(df.mean(), inplace=True)
print("\nDataFrame after filling NaNs with column means:")
print(df)

DataFrame with NaNs:
      A     B     C
0  51.0   NaN  72.0
1  10.0  47.0  64.0
2  45.0  22.0   NaN
3  11.0   5.0  82.0
4   NaN  93.0  16.0

DataFrame after filling NaNs with column means:
       A      B     C
0  51.00  41.75  72.0
1  10.00  47.00  64.0
2  45.00  22.00  58.5
3  11.00   5.00  82.0
4  29.25  93.00  16.0

In [8]:
#Example 3.2: Dropping Rows with NaNs
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaNs:")
print(df)

df.dropna(inplace=True)
print("\nDataFrame after dropping rows with NaNs:")
print(df)

DataFrame with NaNs:
      A     B     C   D
0  10.0  37.0  65.0  66
1   6.0  76.0   NaN  23
2  58.0  87.0  93.0  69
3   NaN  56.0  23.0  78
4  26.0  21.0  20.0  56
5  47.0   NaN  28.0  61

DataFrame after dropping rows with NaNs:
      A     B     C   D
0  10.0  37.0  65.0  66
2  58.0  87.0  93.0  69
4  26.0  21.0  20.0  56

## Assignment 4: Data Aggregation
Concept:
Group data by **categorical variables and aggregate** (sum, mean, etc.) values.

**Example 4.1:** Group by Category Sum & Mean

**Example 4.2:** Group Product Sales by Category

**Use Cases:**
- Sales reports, business intelligence
- Summarizing data by groups

In [9]:
#Example 4.1: Group by Category Sum & Mean
df = pd.DataFrame({
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Value': np.random.randint(1, 100, size=10)
})
print("Original DataFrame:")
print(df)

grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("\nGrouped sum and mean by Category:")
print(grouped)

Original DataFrame:
  Category  Value
0        C     87
1        A     29
2        B     21
3        A     83
4        A     97
5        A     37
6        C     46
7        A     95
8        C     86
9        A     96

Grouped sum and mean by Category:
          sum       mean
Category
A         437  72.833333
B          21  21.000000
C         219  73.000000

In [10]:
#Example 4.2: Group Product Sales by Category
df = pd.DataFrame({
    'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10),
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Sales': np.random.randint(1, 100, size=10)
})
print("Original DataFrame:")
print(df)

grouped = df.groupby('Category')['Sales'].sum()
print("\nTotal sales by Category:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        A     47
1   Prod3        B     70
2   Prod1        A     31
3   Prod3        C     58
4   Prod3        C     61
5   Prod2        B     77
6   Prod3        A     71
7   Prod1        B     51
8   Prod3        B     10
9   Prod3        A     65

Total sales by Category:
Category
A    214
B    208
C    119
Name: Sales, dtype: int64

##Assignment 5: Merging DataFrames
Concept:
**Combine DataFrames** by common columns (merge) or stack them (concatenate).

**Example 5.1:** Merge on Common Column

**Example 5.2:** Concatenate Along Rows & Columns

**Use Cases:**
- Combining **datasets from different sources**
- Preparing **wide or long data formats**

In [11]:
#Example 5.1: Merge on Common Column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, 4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, 4)})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

merged = pd.merge(df1, df2, on='Key')
print("\nMerged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      33
1   B      96
2   C      93
3   D      22

DataFrame 2:
  Key  Value2
0   A      48
1   B      97
2   C       1
3   E      97

Merged DataFrame:
  Key  Value1  Value2
0   A      33      48
1   B      96      97
2   C      93       1

In [12]:
#Example 5.2: Concatenate Along Rows & Columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, 3), 'B': np.random.randint(1, 100, 3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, 3), 'D': np.random.randint(1, 100, 3)})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

concat_rows = pd.concat([df1, df2], axis=0)
print("\nConcatenated along rows:")
print(concat_rows)

concat_cols = pd.concat([df1, df2], axis=1)
print("\nConcatenated along columns:")
print(concat_cols)

DataFrame 1:
    A   B
0  42  21
1  33  13
2  98  11

DataFrame 2:
    C   D
0   1   5
1  75  42
2  88  33

Concatenated along rows:
      A     B     C     D
0  42.0  21.0   NaN   NaN
1  33.0  13.0   NaN   NaN
2  98.0  11.0   NaN   NaN
0   NaN   NaN   1.0   5.0
1   NaN   NaN  75.0  42.0
2   NaN   NaN  88.0  33.0

Concatenated along columns:
    A   B   C   D
0  42  21   1   5
1  33  13  75  42
2  98  11  88  33

##Assignment 6: Time Series Analysis
Concept:
- Pandas handles **date/time data well with datetime indexes**.
- Resampling and rolling windows are useful for summarizing **time series data**.

**Example 6.1:** Monthly Mean Resampling

**Example 6.2:** Rolling Mean with 7-day Window

**Use Cases:**
- Financial data analysis
- Sensor data smoothing

In [13]:
#Example 6.1: Monthly Mean Resampling
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame({'date': date_rng, 'data': np.random.randint(0, 100, len(date_rng))})
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df.head())

monthly_mean = df.resample('M').mean()
print("\nMonthly mean:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    91
2022-01-02    65
2022-01-03    16
2022-01-04    20
2022-01-05    83

Monthly mean:
                 data
date
2022-01-31  54.193548
2022-02-28  51.357143
2022-03-31  55.774194
2022-04-30  44.233333
2022-05-31  47.419355
2022-06-30  39.400000
2022-07-31  47.612903
2022-08-31  44.129032
2022-09-30  56.333333
2022-10-31  52.935484
2022-11-30  48.800000
2022-12-31  54.774194

/tmp/ipython-input-419500233.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [14]:
#Example 6.2: Rolling Mean with 7-day Window
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame({'date': date_rng, 'data': np.random.randint(0, 100, len(date_rng))})
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df.head())

rolling_mean = df.rolling(window=7).mean()
print("\nRolling mean (7 days):")
print(rolling_mean.head(10))

Original DataFrame:
            data
date
2021-01-01    60
2021-01-02    34
2021-01-03    30
2021-01-04    48
2021-01-05    70

Rolling mean (7 days):
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
2021-01-06        NaN
2021-01-07  56.285714
2021-01-08  56.285714
2021-01-09  61.000000
2021-01-10  63.000000

## Assignment 7: MultiIndex DataFrame
Concept
- MultiIndex lets you have **hierarchical indexing** (e.g., Category and SubCategory).
- Allows more **complex grouping and slicing**.

**Example 7.1:** Creating MultiIndex & Basic Indexing

**Example 7.2:** Grouping by MultiIndex Levels

Use Cases:
- Multi-level categorical data
- Pivot tables and advanced aggregations

In [15]:
# Example 7.1: Creating MultiIndex & Basic Indexing
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, (4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

print("\nData for Category 'A':")
print(df.loc['A'])

print("\nData for Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              46      67      44
         two              35      85      87
B        one              11      92      71
         two              54      88      34

Data for Category 'A':
             Value1  Value2  Value3
SubCategory
one              46      67      44
two              35      85      87

Data for Category 'B' and SubCategory 'two':
Value1    54
Value2    88
Value3    34
Name: (B, two), dtype: int64

In [16]:
#Example 7.2: Grouping by MultiIndex Levels
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, (6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("\nSum of values by Category and SubCategory:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              78      32      95
         two              45      93      16
B        one              92      96      88
         two              94      54      35
C        one              42      74      97
         two              44      55       6

Sum of values by Category and SubCategory:
                      Value1  Value2  Value3
Category SubCategory
A        one              78      32      95
         two              45      93      16
B        one              92      96      88
         two              94      54      35
C        one              42      74      97
         two              44      55       6

##Assignment 8: Pivot Tables
Concept:
- Pivot tables summarize data with aggregation by multiple factors.
- Similar to **Excel pivot tables**.

**Example 8.1:** Pivot Table by Date and Category

**Example 8.2:** Pivot Table for Revenue by Year and Quarter

Use Cases:
- **Business reporting**
- Summarizing complex datasets

In [18]:
#Example 8.1: Pivot Table by Date and Category
date_rng = pd.date_range('2022-01-01', '2022-01-10')
df = pd.DataFrame({
    'Date': np.random.choice(date_rng, 20),
    'Category': np.random.choice(['A', 'B', 'C'], 20),
    'Value': np.random.randint(1, 100, 20)
})
print("Original DataFrame:")
print(df.head())

pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("\nPivot Table (sum of Value by Date and Category):")
print(pivot_table)

Original DataFrame:
        Date Category  Value
0 2022-01-02        A      4
1 2022-01-04        A     99
2 2022-01-08        A     62
3 2022-01-04        B     22
4 2022-01-09        B     71

Pivot Table (sum of Value by Date and Category):
Category        A      B     C
Date
2022-01-01   79.0    NaN   NaN
2022-01-02    4.0    NaN  39.0
2022-01-03   58.0    NaN   NaN
2022-01-04  128.0   42.0  98.0
2022-01-05   20.0    NaN  57.0
2022-01-06   10.0    NaN   NaN
2022-01-07    NaN   89.0   NaN
2022-01-08   62.0    NaN  44.0
2022-01-09    NaN  160.0   NaN
2022-01-10    NaN   40.0   NaN

In [17]:
#Example 8.2: Pivot Table for Revenue by Year and Quarter
df = pd.DataFrame({
    'Year': np.random.choice([2020, 2021, 2022], 12),
    'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], 12),
    'Revenue': np.random.randint(1, 1000, 12)
})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("\nPivot Table (mean Revenue by Year and Quarter):")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q4       24
1   2021      Q2      926
2   2020      Q3      446
3   2020      Q3      618
4   2020      Q3      373
5   2022      Q3      815
6   2022      Q1      936
7   2020      Q3      528
8   2021      Q2      697
9   2021      Q1      326
10  2021      Q3      567
11  2021      Q1      196

Pivot Table (mean Revenue by Year and Quarter):
Quarter     Q1     Q2      Q3    Q4
Year
2020       NaN    NaN  491.25   NaN
2021     261.0  811.5  567.00   NaN
2022     936.0    NaN  815.00  24.0

##Assignment 9: Applying Functions
Concept: Use `.apply()`, `.applymap()` to apply custom or lambda functions on **DataFrame elements or rows**.

**Example 9.1:** Double All Values

**Example 9.2:** Sum Rows to Create New Column

Use Cases:
- Feature engineering
- Data transformation

In [19]:
#Example 9.1: Double All Values
df = pd.DataFrame(np.random.randint(1, 100, (5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df_doubled = df.applymap(lambda x: x * 2)
print("\nDoubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  93  28  55
1  99  39  18
2   3  43  73
3  85  39  36
4  60  39  84

Doubled DataFrame:
     A   B    C
0  186  56  110
1  198  78   36
2    6  86  146
3  170  78   72
4  120  78  168

/tmp/ipython-input-2620452029.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

In [20]:
#Example 9.2: Sum Rows to Create New Column
df = pd.DataFrame(np.random.randint(1, 100, (6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("\nDataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  23  94  69
1   7  23  20
2  72  94  37
3  46  94  96
4  55  77  22
5  42  59   7

DataFrame with Sum column:
    A   B   C  Sum
0  23  94  69  186
1   7  23  20   50
2  72  94  37  203
3  46  94  96  236
4  55  77  22  154
5  42  59   7  108

##Assignment 10: Working with Text Data
Concept: Pandas Series supports **vectorized string operations** with `.str` accessor.

**Example 10.1:** Convert Text to Uppercase

**Example 10.2:** Extract First Three Characters

Use Cases:
- **Text data cleaning**
- Creating features from text

In [22]:
#Example 10.1: Convert Text to Uppercase
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

uppercase_data = text_data.str.upper()
print("\nUppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [24]:
#Example 10.2: Extract First Three Characters
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

first_three_chars = text_data.str[:3]
print("\nFirst three characters of each string:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

First three characters of each string:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object

##Pandas Assignments â€” Use Cases & Learning Journey

**Motivation**

Data is everywhere, but **raw data is often messy and hard to understand**. Pandas is lets you **clean, transform, and analyze data quickly**. These assignments take you step-by-step from basic table creation to advanced manipulations.


---
##**Assignments â†’ Use Cases**

Assignment 1 â†’ Create DataFrames and set indexes â†’ Organize data with meaningful row labels for quick lookup.

Assignment 2 â†’ Perform DataFrame operations â†’ Calculate totals, averages, and transformations to extract insights.

Assignment 3 â†’ Clean missing data â†’ Fill gaps or remove incomplete records to make data reliable.

Assignment 4 â†’ Group and aggregate data â†’ Summarize by categories (e.g., total sales per region).

Assignment 5 â†’ Merge DataFrames â†’ Combine multiple datasets for a complete view of information.

Assignment 6 â†’ Analyze time series â†’ Understand trends, patterns, and seasonality over time.

Assignment 7 â†’ Use MultiIndex DataFrames â†’ Work with hierarchical data for complex grouping and slicing.

Assignment 8 â†’ Create pivot tables â†’ Generate quick summaries across multiple dimensions.

Assignment 9 â†’ Apply functions to columns â†’ Transform or enrich data with custom logic.

Assignment 10 â†’ Process text data â†’ Clean and extract useful information from text for analysis.

---

###**Challenges Faced**

- **Understanding Pandas syntax** â†’ Initially confusing due to many methods that look similar.

- **Chaining operations** â†’ Writing multiple transformations in one line can be hard to read on other Resources

- **Indexing confusion** â†’ Distinguishing `.loc`, .`iloc`, and Boolean indexing takes practice.

- **Merging mismatched data** â†’ Key columns may not align perfectly, causing unexpected results.

- **Time series indexing** â†’ Dates must be properly parsed and set as an index to work correctly.

---
##***Summary Notes***
- Pandas is powerful for tabular data manipulation.

- Indexing and grouping enable complex queries and aggregation.

- Handling missing data is critical for analysis.

- Time series and hierarchical indexing extend Pandas' flexibility.

- Applying functions unlocks custom transformations.

- Working with text is seamless with `.str` methods.